parameters:
  ignoreErrors:
    - message: '#GuzzleException is not subtype of Throwable#'
      path: %currentWorkingDirectory%/src/Resolver

    - message: '#WebPageInspector constructor expects webignition\\WebResourceInterfaces\\WebPageInterface#'
      path: %currentWorkingDirectory%/src/Resolver